@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
}
.btn-deep-orange {
    color: #fff;
    background-color: #ff7043 !important;
}

.btn-deep-orange:hover {
    color: #fff;
    background-color: #ff7043 !important;
}

.modal-text p{

    color: #7a7a7a;
}

.modal-text a{
    text-decoration: none;
    padding: 0 10px;
}

.iniciar-con{
    justify-content: center;
    display: flex;
    justify-content: center;
}

.iniciar-con a{
 text-decoration: none;
 color: #7a7a7a;
 padding: 5px;
}

.iniciar-con a i{
    text-decoration: none;
   }

:root{
    --color-esqueleto:#EFF3F5;
}

.nav-link:hover {
    background-color: white;
    color: black!important;
}

header{
    width: 100%;
    height: 60px;
    background: var(--color-esqueleto);
}

.cover{
    width: 100%;
    height: 500px;
    background: var(--color-esqueleto);
    margin-top: 20px;
}

.container-fluid li a{
margin-left: 8px;  /*separa las etiquetas*/
}

.navbar:hover ul li a{
transform: scale(1.07);
}

.navbar:hover ul li a img{
    transition: all 300ms;
    }



.container__row{
    max-width: 200%;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}

.container__row h3{
    padding: 50px;
}


footer{
    width: 100%;
   /* padding: 50px 0px;*/
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    background-color:blanchedalmond;
    text-decoration: none;
    margin-top: 100px;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Lobster', cursive;
    align-items: center;
    text-decoration: none;
}

.container__row p{
    color: #7a7a7a;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-decoration: none;
}

.box__footer a{

    text-decoration: none;
}

.box__footer .logo img{
    width: 180px;
    text-decoration: none;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}



